*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #F6F7FC;
}

.curousal{
    width: 100%;
    object-fit: cover;
}

.home-img img{
    height: 100vh;
}

.home-img p{
    top: 55%;
}

.card{
    width: 73%;
    padding: 32px;
    height: 55vh;
    padding-top: 7vh;
}

.heading h1{
    color: #2E3856;
}

.ace{
    box-shadow: 0 0.25rem 2rem 0 var(--shadow-with-opacity);
}

.ace h2{
    color:#2E3856 ;
}

.first-video{
    height: 55vh;
    width: 80%;
}

.left-part{
    width: 35vw;
    color: #2E3856;
}

.left-part h2{
    line-height: 7vh;
    margin-bottom: 2.5vh;
}

.right-part{
    width: 80vw;
}

.right-part video{
    width: 40vw;
}

.stuista-desc{
    display: flex;
    background-color: #EDF4FF;
}

.home-right-part{
    width: 48%;
    height: 100%;
    position: relative;
}

.home-right-part::before{
    content: "";
    background-color: #EDF4FF;
    width: 39.5vw;
    height: 0.15vh;
    position: absolute;
    bottom: 27vh;
}

.home-left-part{
    width: 60%;
    height: 100%;
    position: relative;
}

.home-left-part h1 {
 position: absolute;
 top: 29%;
 font-size: 4vw;
 width: 100%;
 left: 22%;
 font-weight: 500;
}

.home-left-part p {
    position: absolute;
    top: 45%;
    font-size: 1.1vw;
    width: 80%;
    left: 22%;
}

.loginhandler{
    background-color:#EDF4FF;
    height: 25vh;
    border-top-right-radius:100%;
    /* border-bottom-right-radius:50% ; */
    width: 70%;
    position: relative;
}

.get-started{
    background-color: #4255ffe4;
}

.get-started:hover{
    background-color: #4255ff;
}

.get-started1{
    position: absolute;
    background-color: #4255fff8;
    width: 40vw;
    padding: 2vw;
    left: 10%;
    top: 9%;
    height: 14vh;
}

.get-started1:hover{
    background-color: #4255ff;
}

.main-mobile-home{
    display: none;
}

@media (max-width:600px) {
    .main-mobile-home{
        display: block;
    }

    .main-pc-home{
        display: none;
    }

    .mobile-home-img{
        width: 100vw;
        /* margin-left: 9vw; */
        /* height: 102  vh; */
    }
}





















